.scroll-x {
    overflow-x: scroll;
}

.pokemon-card-image{
    object-fit: contain;
}

.overlay-image-container {
    position: absolute;
}

.overlay-image {
    position: static;
    opacity: 0.5;
}
